<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>
  <appSettings>
    <add key="FleetStateFilePath" value="E:\Repo\AmazonTest\FleetState.txt" />
    <add key="HostStatisticsFilePath" value="E:\Repo\AmazonTest\Statistics.txt" />
    <add key="hostPropertyCount" value="4" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <alias alias="ILogger" type="MyApp.ILogger, MyApp" />
    <namespace name="MyApp.Implementations" />
    <assembly name="MyApp" />

    <container>
      <register type="ILogger" name="special" mapTo="SpecialLogger" />
    </container>

  </unity>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IFleetService" />
        <binding name="BasicHttpBinding_IHostSummaryService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:49830/FleetService.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IFleetService" contract="FleetService.IFleetService"
        name="BasicHttpBinding_IFleetService" />
      <endpoint address="http://localhost:49830/HostSummaryService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IHostSummaryService"
        contract="HostSummaryService.IHostSummaryService" name="BasicHttpBinding_IHostSummaryService" />
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.ServiceLocation" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.0" newVersion="1.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>